public/n8n-complete-workflow.json
{
  "name": "Postora - Complete Media Upload & Post Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "api_key",
              "value": "={{ $env.POSTORA_API_KEY || 'YOUR_API_KEY_HERE' }}"
            },
            {
              "name": "api_base",
              "value": "https://api.postora.cloud/functions/v1/n8n-api"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300],
      "notesInFlow": true,
      "notes": "⚙️ Set your API key here or use $env.POSTORA_API_KEY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_base }}/api/v1/upload-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_urls\": [\n    \"https://example.com/image1.jpg\",\n    \"https://example.com/video.mp4\"\n  ]\n}",
        "options": {}
      },
      "id": "upload-urls-node",
      "name": "Upload via URLs (JSON)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 140],
      "notesInFlow": true,
      "notes": "📤 Method 1: JSON with media_urls array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.api_base }}/api/v1/upload-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Configuration').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "files[]",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-files-node",
      "name": "Upload via Form-Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notesInFlow": true,
      "notes": "📤 Method 2: Form-Data with binary files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.api_base }}/api/v1/upload-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Configuration').item.json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"files_data\": [\n    \"data:image/jpeg;base64,/9j/4AAQSkZJRg...\"\n  ],\n  \"file_names\": [\"photo.jpg\"]\n}",
        "options": {}
      },
      "id": "upload-base64-node",
      "name": "Upload via Base64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 460],
      "notesInFlow": true,
      "notes": "📤 Method 3: JSON with base64 data"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-node",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.api_base }}/api/v1/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Configuration').item.json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"caption\": \"Check out our latest post! 🚀 #socialmedia #automation #postora\",\n  \"platforms\": [\"instagram\", \"facebook\", \"tiktok\", \"youtube\", \"pinterest\", \"linkedin\"],\n  \"media_file_ids\": {{ JSON.stringify($json.media_file_ids || []) }},\n  \"scheduled_at\": null,\n  \n  \"youtube_privacy\": \"public\",\n  \"youtube_title\": \"My Awesome Video\",\n  \"youtube_description\": \"Created with Postora automation\",\n  \"youtube_tags\": [\"automation\", \"socialmedia\"],\n  \n  \"tiktok_post_mode\": \"DIRECT_POST\",\n  \"tiktok_allow_comments\": true,\n  \"tiktok_allow_duet\": true,\n  \"tiktok_allow_stitch\": true,\n  \n  \"instagram_share_to_feed\": true,\n  \n  \"pinterest_title\": \"Check this out!\",\n  \"pinterest_link\": \"https://postora.app\"\n}",
        "options": {}
      },
      "id": "create-post-node",
      "name": "Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notesInFlow": true,
      "notes": "📱 Publish to all platforms\nUses media_file_ids from upload step"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "content": "## ✅ Success Path\n\nPost was created successfully!\n\nYou can:\n- Log to a spreadsheet\n- Send a Slack notification\n- Update a database\n- Trigger another workflow"
      },
      "id": "success-note",
      "name": "Success Actions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1450, 180],
      "width": 280,
      "height": 180
    },
    {
      "parameters": {
        "content": "## ❌ Error Handling\n\nPost creation failed.\n\nYou can:\n- Send error alert to Slack\n- Retry the request\n- Log to error tracking"
      },
      "id": "error-note",
      "name": "Error Actions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1450, 400],
      "width": 280,
      "height": 180
    },
    {
      "parameters": {
        "content": "## 🚀 Postora Complete Workflow\n\n### This workflow demonstrates:\n\n**1. Three Upload Methods:**\n- **JSON + URLs**: Upload from external URLs\n- **Form-Data**: Upload binary files directly\n- **JSON + Base64**: Upload encoded data\n\n**2. Multi-file Upload:**\n- Upload multiple files in single request\n- Returns array of `media_file_ids`\n\n**3. Create Post:**\n- Pass `media_file_ids` from upload\n- Set platform-specific options\n- Publish to multiple platforms\n\n### curl Examples:\n\n**Upload Multiple URLs:**\n```bash\ncurl -X POST \\\n  'https://[PROJECT].supabase.co/functions/v1/n8n-api/api/v1/upload-media' \\\n  -H 'x-api-key: YOUR_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"media_urls\": [\n      \"https://example.com/img1.jpg\",\n      \"https://example.com/img2.jpg\"\n    ]\n  }'\n```\n\n**Upload Multiple Files:**\n```bash\ncurl -X POST \\\n  'https://[PROJECT].supabase.co/functions/v1/n8n-api/api/v1/upload-media' \\\n  -H 'x-api-key: YOUR_KEY' \\\n  -F 'files[]=@/path/to/image1.jpg' \\\n  -F 'files[]=@/path/to/image2.png' \\\n  -F 'files[]=@/path/to/video.mp4'\n```\n\n**Upload Base64:**\n```bash\ncurl -X POST \\\n  'https://[PROJECT].supabase.co/functions/v1/n8n-api/api/v1/upload-media' \\\n  -H 'x-api-key: YOUR_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"files_data\": [\"data:image/jpeg;base64,...\"],\n    \"file_names\": [\"photo.jpg\"]\n  }'\n```\n\n### Response Format:\n```json\n{\n  \"success\": true,\n  \"media_files\": [...],\n  \"media_file_ids\": [\"id1\", \"id2\"],\n  \"total_uploaded\": 2,\n  \"total_failed\": 0\n}\n```",
        "height": 900,
        "width": 450
      },
      "id": "sticky-docs",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 60]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Upload via URLs (JSON)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload via Form-Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload via Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload via URLs (JSON)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload via Form-Data": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload via Base64": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Social Media",
      "id": "1"
    },
    {
      "name": "Postora",
      "id": "2"
    },
    {
      "name": "Media Upload",
      "id": "3"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-08T00:00:00.000Z",
  "versionId": "2"
}
