public/n8n-slack-alerts-workflow.json
{
  "name": "Postora - Slack Failure Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postora-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receive Postora Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "postora-alerts"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true, \"event\": \"{{ $json.event }}\" }",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.event }}",
              "rightValue": "post.failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-if-failed",
      "name": "Is Post Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#social-media-alerts",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": {
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "🚨 Social Media Post Failed",
                "emoji": true
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Post ID:* {{ $json.data.post_id }}\n*Timestamp:* {{ $json.timestamp }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Caption:*\n{{ $json.data.caption }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Platforms:* {{ $json.data.platforms.join(', ') }}"
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Platform Results:*"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "{{ Object.entries($json.data.platform_results || {}).map(([platform, result]) => `• *${platform}*: ${result.status}${result.post_url ? ' - ' + result.post_url : ''}`).join('\\n') }}"
              }
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "View in Postora",
                    "emoji": true
                  },
                  "url": "https://postora.app/history",
                  "style": "primary"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 200],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#social-media-posts",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": {
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "✅ Post Published Successfully",
                "emoji": true
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Caption:*\n{{ $json.data.caption }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Platforms:* {{ $json.data.platforms.join(', ') }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "slack-success",
      "name": "Send Success Notification (Optional)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 400],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Operation (Success Path)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Receive Postora Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Is Post Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Post Failed?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation (Success Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "postora-template"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0
}
